html,
body {
    height: 100%;
    margin-left: 150px;
    margin-right: 150px;

}

.banner{

background-color: #EDEDED;
position: absolute;
top: 0;
left: 0;
right: 0;
height: 75px;
}

.mainheader, .mainHeader__search{
    display: inline-block;
    margin-top: 10px;
    

}

.main-header{
    margin-top: 12px;
  display: inline-block;
  vertical-align: middle;
}

.mainHeader__search input{
    margin-top: 10px;
      display: inline-block;
  width: 400px;
  height: 30px;
  background-color: #FFF;
  font-size: 1rem;
  text-align: left;
}


/*.searchBar
.leftColumn
.rightColumn {
  font-size: 1.5rem;
  position: absolute;
}

.searchBar {
  top: 15px;
  left: 15px;
}
.searchBar ul {
  list-style-type: none;
}
.searchBar ul li {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.searchBar ul li:hover {
  color: plum;
}
.searchBar ul li:after {
  content: "*";
  display: inline-block;
  vertical-align: middle;
  margin-top: 8px;
  margin-left: 8px;
}
.searchBar ul li:last-of-type:after {
  content: "";
*/









